IO_LOC "sdram_dqm[1]" L7;
IO_PORT "sdram_dqm[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[0]" L8;
IO_PORT "sdram_dqm[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_bank[1]" K8;
IO_PORT "sdram_bank[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_bank[0]" L9;
IO_PORT "sdram_bank[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sdram_addr[12]" D1;
IO_PORT "sdram_addr[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[11]" J1;
IO_PORT "sdram_addr[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[10]" J8;
IO_PORT "sdram_addr[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[9]" J2;
IO_PORT "sdram_addr[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[8]" G4;
IO_PORT "sdram_addr[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[7]" H4;
IO_PORT "sdram_addr[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[6]" H1;
IO_PORT "sdram_addr[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[5]" H2;
IO_PORT "sdram_addr[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[4]" K7;
IO_PORT "sdram_addr[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[3]" J11;
IO_PORT "sdram_addr[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[2]" J10;
IO_PORT "sdram_addr[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[1]" F7;
IO_PORT "sdram_addr[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[0]" F6;
IO_PORT "sdram_addr[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sdram_we_n" J7;
IO_PORT "sdram_we_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_ras_n" L10;
IO_PORT "sdram_ras_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_cas_n" K10;
IO_PORT "sdram_cas_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_cs_n" K9;
IO_PORT "sdram_cs_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_clk" E3;
IO_PORT "sdram_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sdram_dq[15]" L3;
IO_PORT "sdram_dq[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[14]" L4;
IO_PORT "sdram_dq[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[13]" C2;
IO_PORT "sdram_dq[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[12]" B2;
IO_PORT "sdram_dq[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[11]" F1;
IO_PORT "sdram_dq[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[10]" F2;
IO_PORT "sdram_dq[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[9]" A1;
IO_PORT "sdram_dq[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[8]" E1;
IO_PORT "sdram_dq[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[7]" G2;
IO_PORT "sdram_dq[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[6]" G1;
IO_PORT "sdram_dq[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[5]" J4;
IO_PORT "sdram_dq[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[4]" K4;
IO_PORT "sdram_dq[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[3]" L2;
IO_PORT "sdram_dq[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[2]" L1;
IO_PORT "sdram_dq[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[1]" K1;
IO_PORT "sdram_dq[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[0]" K2;
IO_PORT "sdram_dq[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sdram_cke" A11;
IO_PORT "sdram_cke" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sclk" E2;
IO_PORT "sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "sys_rstn" H11;
IO_PORT "sys_rstn" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "rs232_tx" H5;
IO_PORT "rs232_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rs232_rx" J5;
IO_PORT "rs232_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;